* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    /* outline: 1px solid rgb(216, 68, 19); */
}

html {
    scroll-behavior: smooth;
}

body {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    display: flex;
    overflow: hidden;
}

:root {
    --backgroundOne: rgb(56, 178, 121);
    --backgroundTwo: rgb(249, 249, 249);
    --textColor: rgb(33, 33, 33);
    --textColor2: rgb(40, 40, 40);
    --elementBack: rgb(0, 0, 0, 0.1);
}

/*==========| MAIN SECTIONS |==========*/
.sideBar {
    position: relative;
    top: 0%;
    left: 0%;
    min-width: 19em;
    max-width: 19em;
    height: 100%;
    background-color: var(--backgroundOne);
}


.mainPage {
    width: 85%;
    height: 100%;
    background-color: var(--backgroundTwo);
    overflow: auto;
}

/*==========| SIDE BAR DETAILS |==========*/
.sideBarCtrl {
    display: none;
    z-index: 999;
}

.sideBarCtrlImg {
    width: 96%;
    height: 96%;
    margin: auto;
    fill: rgb(0, 0, 0);
}

.sideBarCircleImg {
    width: 70%;
    height: fit-content;
    max-height: 13em;
    margin-left: 15%;
    margin-top: 2%;
    border-radius: 50%;
}

.sideBarDesc {
    width: 86%;
    height: fit-content;
    margin-left: 7%;
    margin-top: 1%;
    color: var(--textColor);
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
}

.sideBarSocials {
    width: 96%;
    height: 4%;
    margin-left: 2%;
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
}

.sideBarSocialsIcon {
    width: 3em;
    height: 3em;
    margin-top: 3%;
    border-radius: 50%;
    margin: auto;
    background-repeat: none;
    background-size: cover;
}

.sideBarNav {
    width: 86%;
    height: fit-content;
    margin-left: 7%;
    margin-top: 6%;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
}

.sideBarNavOpt {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 6%;
}

.sideBarNavOptImg {
    fill: var(--textColor);
    width: fit-content;
    height: 100%;
    width: 8%;
    margin-left: 29.5%;
    margin-top: 0.15em;
}

.sideBarNavOptTxt {
    width: 60%;
    height: 100%;
    color: var(--textColor);
    font-size: 1.1em;
    text-align: left;
    font-weight: bold;
    pointer-events: none;
    text-decoration: none;
    padding-left: 0.6em;
    z-index: 20;
}

.sideBarNavOpt:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sideBarBlock {
    width: 55%;
    height: 5%;
    margin-left: 22.5%;
    margin-top: 8%;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.3);
    border: none;
    display: flex;
    flex-wrap: wrap;
}

.sideBarBlockImg {
    fill: rgb(255, 255, 255);
    width: 17%;
    height: 100%;
    margin-top: 0.1em;
    margin-left: 9%;
}

.sideBarBlockTxt {
    width: fit-content;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 0.95em;
    text-align: left;
    font-weight: bold;
    pointer-events: none;
    text-decoration: none;
    padding-left: 0.6em;
    margin-top: 7%;
    letter-spacing: 2px;
}

.sideBarLine {
    width: 100%;
    height: 2px;
    margin-top: 5%;
    background-color: rgb(0, 0, 0, 0.3);
}

.sideBarSwitch {
    position: relative;
    top: 1.2em;
    display: inline-block;
    width: 7em;
    height: 3%;
    margin-left: 29%;
}

.sideBarBox {
    opacity: 0;
    width: 0;
    height: 0;
}

.sideBarSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--textColor);
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.sideBarSlider:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 26px;
    color: var(--textColor);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.sideBarSlider {
    background-color: rgb(40, 40, 40)
}

input:focus+.sideBarSlider {
    box-shadow: 0 0 1px rgb(40, 40, 40)
}

input:checked+.sideBarSlider:before {
    -webkit-transform: translateX(5.4em);
    -ms-transform: translateX(5.4em);
    transform: translateX(5.4em);
}

/* Rounded sliders */
.sideBarSlider.round {
    border-radius: 34px;
}

.sideBarSlider.round:before {
    border-radius: 50%;
}

/*==========| SIDE BAR ANIMATION |==========*/
.showSideBar {
    animation-name: showSideBar;
    animation-duration: 2s;
}

.hideSideBar {
    animation-name: hideSideBar;
    animation-duration: 2s;
}

@keyframes showSideBar {
    from {
        margin-left: -19em;
    }

    to {
        margin-left: 0;
    }
}

@keyframes hideSideBar {
    from {
        margin-left: 0;
    }

    to {
        margin-left: -19em;
    }
}


/*==========| SIDE BAR ADJUST |==========*/
@media only screen and (max-width: 1600px) {
    .sideBar {
        position: fixed;
        margin-left: -19em;
        z-index: 999;
    }

    .sideBarCtrlShow {
        position: absolute;
        top: 0.8%;
        left: 100%;
        width: 15%;
        height: 2em;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: 1px solid rgb(33, 33, 33);
        border-right: 1px solid rgb(33, 33, 33);
        border-bottom: 1px solid rgb(33, 33, 33);
        background-color: var(--backgroundOne);
        display: block;
    }

    .fullMainPage {
        width: 100%;
        overflow: auto;
        overflow-x: hidden;
    }

    .sideBarSocialsAdj {
        height: 5%;
    }

    .sideBarNavOptTxtAdj {
        width: 80%;
    }

    .sideBarBlockImgAdj {
        width: 15%;
        margin-top: 0;
    }

    .sideBarBlockAdj {
        height: 2.5em;
    }
}

/*==========| MAIN PAGE SECTION 1 |==========*/
.mainPageSec1 {
    width: 100%;
    min-height: 35%;
    height: 11em;
    display: flex;
    margin-top: 1em;
}

.mainPageSec1Content {
    width: 50%;
    height: 100%;
    padding-left: 5em;
    padding-right: 15em;
}

.mainPageSec1Img {
    width: 20%;
    height: auto;
    margin-left: 3em;
}

.mainPageSec1ContentHead {
    color: var(--textColor);
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 0.3em;
}

.mainPageSec1ContentDesc {
    color: var(--textColor);
    font-size: 1.2em;
    padding-bottom: 0.8em;
}

.mainPageSec1ContentPar {
    color: var(--textColor);
    font-size: 0.95em;
    padding-bottom: 0.8em;
}

.mainPageSec1ContentSec {
    width: 100%;
    height: 12%;
    display: flex;
}

.mainPageSec1ContentBox {
    width: fit-content;
    height: 100%;
    background-color: rgb(56, 178, 121);
    display: flex;
}

.mainPageSec1ContentBox:hover {
    background-color: rgb(208, 31, 31);
    cursor: pointer;
}

.mainPageSec1ContentBox2 {
    width: fit-content;
    height: 100%;
    background-color: rgb(47, 47, 47);
    margin-left: 15em;
    display: flex;
}

.mainPageSec1ContentBox2:hover {
    background-color: rgb(208, 31, 31);
    cursor: pointer;
}

.mainPageSec1ContentBoxImg {
    fill: rgb(255, 255, 255);
    width: 16%;
    height: 100%;
    margin-left: 3%;
}

.mainPageSec1ContentBoxTxt {
    width: fit-content;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
    pointer-events: none;
    text-decoration: none;
    padding-left: 0.2em;
    margin-top: 7%;
    letter-spacing: 2px;
}

/*==========| MAIN SECTION 1 ADJUST |==========*/
@media only screen and (max-width: 1600px) {
    .mainPageBlock {
        display: block;
    }

    .mainPageSec1ImgCenterAdj {
        width: 100%;
        margin-left: 0.4em;
        padding-left: 0%;
        margin-top: 2.6em;
    }

    .mainPageSec1ImgCenter {
        display: none;
    }

    .mainPageSec1ContentBoxAdj {
        width: 12em;
        height: 2.8em;
        margin: none;
        margin-left: 1em;
        padding: none;
    }

    .mainPageSec1ContentBoxImgAdj {
        width: 1.4em;
    }
}

/*==========| MAIN PAGE SECTION 2 |==========*/

.mainPageSec2 {
    width: 100%;
    height: fit-content;
    display: block;
    margin-top: 10em;
    padding-bottom: 1.2em;
    padding-top: 1.2em;
}

.mainPageSec2Title {
    width: 50%;
    height: 12%;
    color: var(--textColor);
    font-size: 1.6em;
    font-weight: bold;
    border-left: 4px solid rgb(56, 178, 121);
    margin-left: 3em;
    padding-left: 0.4em;
    margin-bottom: 0.8em;
}

.mainPageSec2Desc {
    width: 88%;
    height: fit-content;
    color: var(--textColor);
    font-size: 1.0em;
    font-weight: bold;
    margin-left: 5%;
}

.mainPageSec2Desc a {
    color: rgb(56, 178, 121);
}

.removeDec {
    text-decoration: none;
}


/*==========| MAIN SECTION 2 ADJUST |==========*/
@media only screen and (max-width: 1600px) {
    .mainPageSec2TitleAdj {
        margin-left: 0.3em;
    }

    .mainPageSec2DescAdj {
        width: 96%;
        margin-left: 2%;
    }
}

/*==========| MAIN PAGE SECTION 3 |==========*/

.mainPageSec3 {
    width: 100%;
    min-height: 30%;
    height: fit-content;
    display: block;
    margin-top: 10em;
    padding-bottom: 1.2em;
    padding-top: 1.2em;
    display: block;
}

.mainPageSec3Title {
    width: 50%;
    height: 12%;
    color: var(--textColor);
    font-size: 1.6em;
    font-weight: bold;
    border-left: 4px solid rgb(56, 178, 121);
    margin-left: 3.2em;
    padding-left: 0.4em;
    margin-bottom: 0.8em;
}

.mainPageSec3Block {
    position: relative;
    top: 0%;
    left: 0%;
    height: 20em;
    width: 89%;
    margin-left: 4.3%;
    margin-bottom: 1.8em;
    display: flex;
}

.mainPageSec3BlockLan {
    width: 48%;
    height: 100%;
    background-color: var(--elementBack);
    border-radius: 9px;
    overflow: hidden;
    display: block;
    margin: auto;
}

.mainPageSec3BlockLanIco {
    width: 9%;
    height: auto;
    margin-left: 0.5em;
    margin-top: 0.3em;
}

.mainPageSec3BlockLanTitle {
    width: fit-content;
    height: fit-content;
    font-size: 1.4em;
    margin-left: 0.5em;
    color: var(--textColor2);
    font-weight: bold;
    text-decoration: none;
}

.mainPageSec3BlockLanTitle:hover {
    cursor: pointer;
    color: rgb(56, 178, 121);
}

.mainPageSec3BlockLanDesc {
    width: 99%;
    height: 80%;
    font-size: 0.99em;
    margin-left: 0.25em;
    color: var(--textColor);
    font-weight: bold;
    padding-bottom: 0.2em;
}

/*==========| MAIN SECTION 3 ADJUST |==========*/
@media only screen and (max-width: 1600px) {
    .mainPageSec3BlockAdj {
        display: block;
        height: fit-content;
    }


    .mainPageSec3TitleAdj {
        margin-left: 0.7em;
    }

    .mainPageSec3BlockLanAdj {
        margin-top: 0.9em;
        width: 100%;
    }

    .mainPageSec3BlockLanDesc {
        width: 98%;
    }
}

/*==========| MAIN PAGE SECTION 4 |==========*/
.mainPageSec4 {
    width: 96%;
    height: fit-content;
    margin-left: 2%;
    margin-top: 10em;
}

.mainPageSec4Title {
    width: 50%;
    height: 12%;
    color: var(--textColor);
    font-size: 1.6em;
    font-weight: bold;
    border-left: 4px solid rgb(56, 178, 121);
    margin-left: 2.5em;
    padding-left: 0.4em;
    margin-bottom: 0.8em;
}


.mainPageSec4 img {
    margin-left: 4.3%;
    width: 89%;
    height: 100%;
}

/*==========| MAIN SECTION 4 ADJUST |==========*/
@media only screen and (max-width: 1600px) {
    .mainPageSec4TitleAdj {
        margin-left: 0.7em;
    }
}